{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Your Todos.</h1>
            <p>Life is awesome! but its busy too, There are thousands of things to do. But what matters is <u>what</u> you choose to do. I created <b><i>Todo app</i></b> to help you never miss any opportunity or task assigned to you and live that life that matters most to you. Your new organized life awaits.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
